@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: Rajdhani;
    src: url('/public/Fonts/Rajdhani/Rajdhani-Bold.ttf') format('truetype')
}

@font-face {
    font-family: Rajdhani-Regular;
    src: url('/public/Fonts/Rajdhani/Rajdhani-Regular.ttf') format('truetype')
}

@font-face {
    font-family: Rajdhani-Medium;
    src: url('/public/Fonts/Rajdhani/Rajdhani-Medium.ttf') format('truetype')
}
